
.idfe-edit{
    width: 200px;
    float: left;
    display: block;
    position: absolute;
    z-index: 99999;
    height: 40px;
    border:0.5px dashed black;
    background-color:#555555;
}

.idfe-edit ul {
    list-style: none;
    margin-left: 50px;
}
 
.idfe-edit li {
    display: inline;
    line-height: 40px;
    float:left;
}
 
.idfe-edit a {
    color: #fff;
    text-decoration: none;
}
 
.idfe-edit a:hover {
    background-color: #060;
}
